main {
  padding-top: 10px;
  background-color: #2b3a57;
  max-width: 900px;
  height: auto;
}

h1 {
  color: aliceblue;
}

.main-container {
  max-width: 900px;
  margin: 0 auto;
  height: auto;
  display: block;
}
.main-container h2 {
  background-color: rgb(194, 230, 230);
  margin: 0;
  padding: 10px;
}
.about {
  display: block;
  padding-right: 0px;
  background-color: #62718b;
  color: aliceblue;
}
.about p {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}
.about img {
  padding: 0px;
}

.believe {
  display: block;
  background-color: aliceblue;
  color: #212a3a;
}

.believe p {
  display: block;
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}

.believe img {
  padding: 0px;
  margin: 0;
}
.value p {
  color: aliceblue;
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}
