/* body {
    background-color: #2b3a57;
} */
main {
  padding-top: 10px;
  background-color: #2b3a57;
  width: 900px;
}

h1 {
  color: aliceblue;
}

.main-container {
  width: 900px;
  margin: 0 auto;
  height: auto;
  display: block;
}
.main-container h2 {
  background-color: rgb(194, 230, 230);
  margin: 0;
  padding: 10px;
}
.about {
  display: flex;
  align-items: center;
  padding-right: 10px;
  background-color: #62718b;
  color: aliceblue;
}
.about img {
  padding-right: 10px;
}

.believe {
  display: flex;
  align-items: center;
  background-color:aliceblue ;
  color: #212a3a;
}

.believe p {
  padding-left: 10px;
}

.believe img {
  padding-left: 10px;
  margin: 0;
}
.value p{
    color:aliceblue;
    padding: 10px;
}

