main {
  padding: 10px;
  height: auto;
}

textarea {
  max-width: 500px;
  height: 300px;
  padding: 10px;
  margin: 10px;
}
input{
  max-width: 500px;
  padding: 10px;
  margin: 10px;
}

.send-button{
  padding: 10px;
  width: 100px;
  border-radius: 10px;
}