main {
  padding: 10px;
}

textarea {
  width: 500px;
  height: 300px;
  padding: 10px;
  margin: 10px;
}
input{
  width: 500px;
  padding: 10px;
  margin: 10px;
}

button{
  padding: 10px;
  margin: 10px;
  width: 100px;
}