main {
  padding: 10px;
}

.events {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.events li {
  margin: 10px;
  border: 1px rgb(183, 182, 182) solid;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.event-btn {
  display: inline-block;
  background-color: rgb(188, 230, 230);
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  color: black;
  border: solid rgb(167, 181, 188) 1px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 250px;
}

.event-btn:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}
