main {
  padding: 10px;
  background-color: rgb(44, 44, 59);
  color:aliceblue;
   height: auto;
   max-width: 900px;
}

ul a{
    color:rgb(227, 227, 75);
}

li a:visited{
    color:aqua
}

ul {
    list-style-type: none;
}