@media (min-width: 399.1px) {
     .hero-container {
  background-color: transparent;
  }

  .hero {
    width: auto;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto;
    position: relative;
  }

  .overlay h1{
    font-size: large;
  }

    .overlay {
    position: absolute;
    /* top: 50%;
    left: 42%; */
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    width: 120px;
    aspect-ratio: 1 / 1;
    font-size:small;
  }

   .overlay .extra-text {
    display: none;
  }

  .join-btn {
    position: absolute;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
    background-color: #479dff;
    color: rgb(41, 41, 41);
    aspect-ratio: 1 / 1;
    border:none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
    animation: slowGlow 3s ease-in-out infinite alternate;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-weight: bold;
  }
    
}