@media (min-width: 900px) {
  
  nav {
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
  }

  ul.menuLinks.open {
    display: flex !important;
    background-color: transparent;
  }

  ul.menuLinks {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    opacity: 1;
    transform: none;
    background: none;
    box-shadow: none;
    width: auto;
    position: static;
    flex-direction: row;
    justify-items: center;
  }

  ul.menuLinks li:hover {
    background-color: #262626;
    border-radius: 10px;
  }
  nav li {
    list-style-type: none;
    flex: 1;
    text-align: center;
    justify-self: center;
  }

  nav a {
    text-decoration: none;
    color: aliceblue;
  }

  header {
    display: flex;
    background-color: #2b3a57;
    margin: 0;
    justify-content: space-between;
  }

  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
  }

  .hero {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    width: 240px;
    aspect-ratio: 1 / 1;
  }

    .overlay h1{
    font-size: 2em;
  }

    .overlay .extra-text {
    display: block;

  }

  .join-btn {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    top: 73%;
    right: 60%;
    font-size: 30px;
    background-color: #479dff;
    color: rgb(41, 41, 41);
    aspect-ratio: 1 / 1;
    border:none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
    animation: slowGlow 3s ease-in-out infinite alternate;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-weight: bold;
  }

 

  .logo {
    margin: 20px;
    border-radius: 10px;
    justify-self: flex-start;
    height: 50px;
  }

  .donate-btn {
    font-size: 40px;
    width: 200px;
    height: 100px;
    padding: 10px;
    margin-left: auto;
  }

  .donate-btn:hover {
    background-color: rgb(220, 76, 51);
    color: #ffffff;
    transform: scale(1.05);
  }

  .header-stuff {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .search-form {
    position: relative;
    width: 300px;
    margin-right: 30px;
  }

  .search-bar {
    width: 100%;
    padding: 8px 10px 8px 10px;
    border-radius: 20px;
  }

  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  #socials ul {
    list-style-type: none;
    display: flex;
  }

  #socials li {
    padding: 5px;
  }
  .social-link {
    width: 25px;
  }

  #small-socials {
    display: none;
  }
  #small-donate {
    display: none;
  }

  #myButton {
    display: none;
  }

  .active {
    background-color: #1a1d25;
  }

  .active:hover {
    box-shadow: 0 0 12px rgba(110, 161, 196, 0.7);
    /* transform: scale(1.05); */
  }

  nav ul a {
    color: #ffffff;
  }

  nav ul a:visited {
    color: #ffffff;
  }
}
