html {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: radial-gradient(circle, #6ea1c4, #1a1d25);
   overflow-x: hidden;
 
  margin: 0;
}

button {
  cursor: pointer;
}

h1 {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  background-color: #d85e5e;
  color: rgb(0, 0, 0);
  padding: 20px;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1300px;
  height: 70vh;
  margin: 0 auto;
  text-align: center;
 background-color: transparent;
  /* padding: 20px; */
}

nav {
  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
}

nav li a {
  padding: 10px;
  display: block;
  text-decoration: none;
}

nav ul {
  display: block;
  padding: 0;
  margin: 0;
}



ul.menuLinks {
  display: none;
  position: fixed;
  left: 0;
  top: 120px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
  transform: translateX(-100%);
  z-index: 1000;
}

ul.menuLinks.open {
  display: block;
  background-color: rgb(255, 255, 255);
  list-style-type: none;
  width: 150px;
  padding: 10px;
  opacity: 1;
  transform: translateY(0);
  transform: translateX(0);
  
}
ul a{
  color:#000000
}

ul a:visited{
  color:#000000
}


ul.menuLinks li {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
 color:#000000
}

ul.menuLinks li:hover {
  background-color: #f0f0f0;
    
}

#myButton {
  display: block;
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 24px;
}

#myButton::before {
  content: "\2630";
  color: #2b3a57;
}

#myButton.open::before {
  content: "\2715";
}

header {
  display: flex;
  background-color: #2b3a57;
  margin: 0;
  justify-content: space-between;
}

#logo {
  justify-self: flex-start;
  align-self: center;
  margin: 0;
}

.logo {
  margin: 5px;
  border-radius: 5px;
  height: 25px;
}

.donate-btn {
  background-color: #db3838;
  color: white;
  font-size: 20px;
  width: 85px;
  height: 100%;
  padding: 10px;
  text-align: center;
}

#small-donate {
  grid-row: 2;
  grid-column: 2/3;
  margin-left: auto;
}

.header-stuff {
  display: none;
}

.search-form {
  position: relative;
  width: 300px;
  margin-right: 30px;
}

.search-bar {
  width: 100%;
  padding: 8px 10px 8px 10px;
  border-radius: 20px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#small-socials {
  margin-left: auto;
}

#small-socials ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  justify-self: center;
}

#small-socials li {
  padding: 5px;
}
.social-link {
  width: 25px;
}

.active {
  border:#6ea1c4 solid 2px;
  background-color: #c4cadb;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(110, 161, 196, 0.5);
}

.active:hover {
  box-shadow: 0 0 12px rgba(110, 161, 196, 0.7); 
  transform: scale(1.05);
}

